 :root {
     --cor-primaria: rgb(1, 126, 1);
     --cor-erro: red;
     --cor-valido: green;
     --cor-cadastre: rgb(85, 85, 255);
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body,
 main {
     width: 100%;
     min-height: 100vh;
     overflow-x: hidden;
 }

 p {
     margin-bottom: 16px;
 }

 h1,
 h2,
 h3 {
     margin-top: 20px;
     margin-bottom: 10px;
 }

 .incadastro {
     display: flex;
     font-size: 22px;
     font-family: Arial, Helvetica, sans-serif;
 }

 input:valid {
     border: 2px solid var(--cor-valido);
 }

 input:invalid {
     border: 2px solid var(--cor-erro);
 }

 img {
     display: block;
     justify-content: center;
     height: 300px;
     filter: drop-shadow(5px 10px 8px rgba(0, 0, 0, 0.5))
 }

 .nav-color-bar {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 20px;
     position: static;
     background-color: var(--cor-cadastre)
 }

 .navbar {
     display: flex;
     gap: 30px;
     align-items: center;
     justify-content: center;
 }

 .navbar a {
     color: white;
     text-decoration: none;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: 200px;
     padding: 12px 16px;
     border-radius: 8px;
 }

 .navbar a:hover {
     background-color: rgba(255, 255, 255, 0.15);
 }

 .barra2 {
     display: flex;
     position: static;
     top: 0;
     left: 0;
     right: 0;
     height: 20px;
     background-color: var(--cor-primaria);
 }

 .bar-content {
     position: static;
     height: auto;
     background-color: var(--cor-primaria);
     display: block;

 }

 .footer-content {
     display: block;
     height: 200px;
     position: static;
     background-color: var(--cor-primaria);
 }

 .footer-text {
     font-size: 28px;
     font-family: Arial, Helvetica, sans-serif;
     color: aliceblue;
 }

 .input {
     min-height: 50px;
     font-size: 30px;
     border-color: var(--cor-primaria);
 }

@media (max-width: 420px) {
    .navbar {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
}