 
 :root{
    --cor-primaria: rgb(1, 126, 1);
    --cor-erro: red;
    --cor-valido: green;
    --cor-cadastre: rgb(43, 124, 245);
 }
 
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body,
 main {
     width: 100%;
     min-height: 100vh;
     overflow-x: hidden;
 }

 p {
     margin-bottom: 16px;
 }

 h1,
 h2,
 h3 {
     margin-top: 20px;
     margin-bottom: 10px;
 }

 .incadastro {
     display: flex;
     font-size: 22px;
     font-family: Arial, Helvetica, sans-serif;
 }

 input:valid {
     border: 2px solid var(--cor-valido);
 }

 input:invalid {
     border: 2px solid var(--cor-erro);
 }

 img {
     display: flex;
     height: 300px;
 }

 .barra2 {
     display: flex;
     position: static;
     top: 0;
     left: 0;
     right: 0;
     height: 20px;
     background-color: var(--cor-primaria);
 }

 .cadastre {
     display: flex;
     font-size: 28px;
     padding: 20px 20px;
     border-radius: 8px;
     border-style: double;
     background-color: var(--cor-cadastre);
     color: aliceblue;
     cursor: pointer;
 }

 .bar-content {
     position: static;
     height: auto;
     background-color: var(--cor-primaria);
     display: block;

 }

 .bar-form-acess {
     display: grid;
     align-items: flex-end;
     justify-content: flex-end;
     padding-right: 30px;
 }

 .footer-content {
     display: block;
     height: 200px;
     position: static;
     background-color: var(--cor-primaria);
 }

 .footer-text {
     font-size: 28px;
     font-family: Arial, Helvetica, sans-serif;
     color: aliceblue;
 }

 .input {
     min-height: 50px;
     font-size: 30px;
     border-color: var(--cor-primaria);
 }